@{ var id = ViewData["id"];}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="~/plugins/images/favicon.png">
    <title>Ample Admin Template - The Ultimate Multipurpose admin template</title>
    <!-- Bootstrap Core CSS -->
    <!-- Menu CSS -->
    <link href="~/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <!-- toast CSS -->
    <link href="~/plugins/bower_components/toast-master/css/jquery.toast.css" rel="stylesheet">
    <!-- morris CSS -->
    <link href="~/plugins/bower_components/morrisjs/morris.css" rel="stylesheet">
    <!-- chartist CSS -->
    <link href="~/plugins/bower_components/chartist-js/dist/chartist.min.css" rel="stylesheet">
    <link href="~/plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
    <!-- animation CSS -->
    <link href="~/css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="~/css/colors/default.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <link href="~/library/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
</head>

<body class="fix-header">
    @*<div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>*@
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <nav class="navbar navbar-default navbar-static-top m-0 p-0">
            <div class="navbar-header">
                <div class="top-left-part">
                    <!-- Logo -->
                    @*<a class="logo" href="dashboard.html">
                            <!-- Logo icon image, you can use font-icon also --><b>
                                <!--This is dark logo icon--><img src="~/plugins/images/admin-logo.png" alt="home" class="dark-logo" /><!--This is light logo icon--><img src="~/plugins/images/admin-logo-dark.png" alt="home" class="light-logo" />
                            </b>
                            <!-- Logo text image you can use text also --><span class="hidden-xs">
                                <!--This is dark logo text--><img src="~/plugins/images/admin-text.png" alt="home" class="dark-logo" /><!--This is light logo text--><img src="~/plugins/images/admin-text-dark.png" alt="home" class="light-logo" />
                            </span>
                        </a>*@
                </div>
                <!-- /Logo -->
                <ul class="nav navbar-top-links navbar-right pull-right">
                    <li>
                        <a class="profile-pic" href="#">
                            <b class="hidden-xs m-r-15">Adminstrator</b>
                            <img src="~/plugins/images/users/varun.jpg" alt="user-img" width="36" class="rounded">
                        </a>
                    </li>
                    <button class="btn btn-primary pull-right ml-3" id="btnLogout" style="width:120px"> Log Out</button>
                </ul>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- End Top Navigation -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav slimscrollsidebar">
                <div class="sidebar-head">
                    <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span class="hide-menu">Navigation</span></h3>
                </div>
                <ul class="nav" id="side-menu">
                    @*<li style="padding: 70px 0 0;">
            <a href="dashboard.html" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Dashboard</a>
        </li>*@

                    @*<li>
            <a href="basic-table.html" class="waves-effect"><i class="fa fa-table fa-fw" aria-hidden="true"></i>Adminstrators</a>
        </li>*@
                    <li style="padding: 70px 0 0;">
                        <a href="https://localhost:5001/Dashboard/" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Dashboard</a>
                    </li>
                    <li>
                        <a href="https://localhost:5001/Dashboard/Student/" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Students</a>
                    </li>
                    <li>
                        <a href="https://localhost:5001/Dashboard/Course" class="waves-effect"><i class="fa fa-table fa-fw" aria-hidden="true"></i>Courses</a>
                    </li>
                    <li>
                        <a href="https://localhost:5001/Dashboard/Subject" class="waves-effect"><i class="fa fa-font fa-fw" aria-hidden="true"></i>Subjects</a>
                    </li>
                </ul>
            </div>

        </div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Subject</h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <ol class="breadcrumb">
                            <li><a href="#">Administrator</a></li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>

                <!-- ============================================================== -->
                <!-- chat-listing & recent comments -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- .col -->
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title">Current Subject</h3>
                            <hr />
                            <form id="form">
                                <div class="form-group row" hidden>
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">ID</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="inputEmail3" disabled class="form-control disabledItem" placeholder="ID" value="" rel="subjectId" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
                                    <div class="col-sm-10">
                                        <input type="email" id="inputEmail3" required disabled class="form-control disabledItem" placeholder="Subject Name" value="" rel="name">
                                        <div class="invalid-feedback">
                                            Invalid Value.
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Course</label>
                                    <div class="col-sm-10">
                                        <select id="disabledItem" disabled class="form-control disabledItem" required rel="course">
                                            <option value="" disabled selected>Choose Subject</option>

                                        </select>
                                        <div class="invalid-feedback">Invalid Value.</div>
                                    </div>
                                </div>

                                @*<div class="form-group row" id="subjectToCourse">
                <div class="col-sm-12">
                    <a href="#">
                        <div class="pull-right"> + Subject...</div>
                    </a>
                </div>
            </div>*@


                                <hr />
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        @*<button class="btn btn-primary pull-right ml-3" id="btnDelete" style="width:80px" disabled>Delete</button>*@
                                        <button class="btn btn-primary pull-right ml-3" id="btnUpdate" style="width:80px" disabled>Update</button>
                                        <button class="btn btn-primary pull-right ml-3" id="btnEdit" style="width:80px">Edit</button>
                                        <a href="https://localhost:5001/Dashboard/Subject/" class="btn btn-primary pull-right ml-3" style="width:80px">Back</a>
                                        <button type="submit" class="btn btn-primary pull-left mr-3" id="btnCreate" style="width:80px">New</button>
                                    </div>
                                </div>
                            </form>
                            <div class="text-center my-2" id="spinner" hidden>
                                <div class="spinner-border" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- /.col -->
                </div>
            </div>
            <!-- /.container-fluid -->
            @*<footer class="footer text-center"> 2017 &copy; Ample Admin brought to you by wrappixel.com </footer>*@
        </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    </div>

    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!--===============================================================================================-->
    <script src="~/library/jquery/jquery-3.3.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/library/bootstrap/js/popper.min.js"></script>
    <script src="~/library/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!--===============================================================================================-->
    <!-- Menu Plugin JavaScript -->
    <script src="~/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="~/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="~/js/waves.js"></script>
    Counter js
    <script src="~/plugins/bower_components/waypoints/lib/jquery.waypoints.js"></script>
    <script src="~/plugins/bower_components/counterup/jquery.counterup.min.js"></script>
    <!-- chartist chart -->
    <script src="~/plugins/bower_components/chartist-js/dist/chartist.min.js"></script>
    <script src="~/plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
    <!-- Sparkline chart JavaScript -->
    <script src="~/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/js/custom.min.js"></script>
    <script src="~/js/dashboard1.js"></script>
    <script src="~/plugins/bower_components/toast-master/js/jquery.toast.js"></script>
    <script>
        $(document).ready(function () {
            if (localStorage.getItem('token') == null) {
                window.location.replace("https://localhost:5001/Login")
            } 

            var id = "@id";
            var $studentsList = $("#listItems");
            var $form = $("#form");
            var $btnEdit = $("#btnEdit");
            var $btnUpdate = $("#btnUpdate");
            var $btnDelete = $("#btnDelete");
            var $btnCreate = $("#btnCreate");
            var $spinner = $("#spinner");

            function subjectElement() {
                return data =  "<div class='form-group row subjectToCourse'>"
                   + "<label for='inputEmail3' class='col-sm-2 col-form-label'> Subject</label >"
                   +     "<div class='col-sm-10'>"
                   +         "<input type='email' id='inputEmail3' required disabled class='form-control' placeholder='Add Subject' value='' rel='subject'>"
                   +            " <div class='invalid-feedback'>"
                   +                " Invalid Value."
                   +                    " </div>"
                   +                 "</div>"
                   +     "</div>"
            }

            $("#subjectToCourse").on("click", function () {
                console.log(subjectElement());
                $(this).before(subjectElement())
            });

            var students = [];

            populateCurrentCourseById(id.toString());
            getAllCourses();



            function populateCurrentCourseById(id) {
                if (id.toLowerCase() == "new") {
                    //$form.find('.disabledItem[rel=' + relValue + ']').val("").change();
                    $form.find('.disabledItem[rel="subjectId"]').parent().parent().prop("hidden", true);
                } else {
                    $spinner.prop("hidden", false)
                    $.ajax({
                        type: "GET",
                        url: "https://localhost:44380/api/v1/subjects/" + id,
                        headers: { 'Authorization': 'Bearer ' + localStorage.getItem('token') },
                        contentType: "application/json",
                        dataType: "json",
                        success: function (data) {
                            $spinner.prop("hidden", true)
                            console.log(data)
                            $form.find('.disabledItem').each(function () {

                                var relValue = $(this).attr("rel");
                                if (relValue == "course") {
                                    if (data[relValue] == null) {
                                        data[relValue] = "Choose Subject"
                                    }
                                    else if (typeof (data[relValue]) === 'object') {
                                        data[relValue] = data[relValue].courseId;
                                    } 
                                    console.log(data[relValue]);
                                    $form.find('.disabledItem[rel="course"]').val(data[relValue]).change();
                                }
                                else {
                                    $form.find('.disabledItem[rel=' + relValue + ']').val(data[relValue]).change();
                                }

                            })
                        },
                        error: function (data) {
                            if (data.status == "401") {
                                window.location.replace("https://localhost:5001/Login");
                            }
                            alert("Not found")
                            console.log('bad')
                        }
                    });
                }
            }

            function courseSelectOption(data) {
                return "<option value='"+ data.courseId +"'>"+data.name+"</option>"
            }

            function getAllCourses() {
                $.ajax({
                    type: "GET",
                    url: "https://localhost:44380/api/v1/courses",
                    headers: { 'Authorization': 'Bearer ' + localStorage.getItem('token') },
                    contentType: "application/json",
                    dataType: "json",
                    success: function (data) {
                        $.each(data, function (index, value) {
                            var courseToAppend = courseSelectOption(value);
                            $form.find('.disabledItem[rel="course"]').append(courseToAppend);
                        })
                    },
                    error: function (data) {
                        if (data.status == "401") {
                            window.location.replace("https://localhost:5001/Login");
                        }
                        console.log('bad')
                    }
                });
            };

            function addCourseToSubject(data) {

                $.ajax({
                    type: "POST",
                    url: "https://localhost:44380/api/v1/subjects/courses",
                    headers: { 'Authorization': 'Bearer ' + localStorage.getItem('token') },
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    dataType: "json",
                    success: function (data) {
                        
                        //console.log(data)
                    },
                    error: function (data) {
                        console.log(data)
                        console.log('bad')
                    },
                    complete: function () {
                        $spinner.prop("hidden", true)
                    }
                });
            }

            function updateCurrentSubject(data) {
                $spinner.prop("hidden", false)
                $.ajax({
                    type: "PUT",
                    url: "https://localhost:44380/api/v1/subjects/" + data.subjectId,
                    headers: { 'Authorization': 'Bearer ' + localStorage.getItem('token') },
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    dataType: "json",
                    success: function (data) {
                        //$spinner.prop("hidden", true)
                        console.log(data);
                        console.log("jj");
                    },
                    error: function (data) {
                        console.log(data)
                    },
                    complete: function (jqxhr, txt_status) {
                        console.log(jqxhr);
                        console.log(jqxhr);
                        if (jqxhr.status == 200) {
                            console.log('how')
                            var addcourrse2student = { "courseId": data.course, "subjectId": data.subjectId };
                            console.log(addcourrse2student)
                            addCourseToSubject(addcourrse2student)
                        }
                    }
                });

            };

            function createCurrentCourse(data) {
                $spinner.prop("hidden", false)
                $.ajax({
                    type: "POST",
                    url: "https://localhost:44380/api/v1/subjects",
                    headers: { 'Authorization': 'Bearer ' + localStorage.getItem('token') },
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    dataType: "json",
                    success: function (succesData) {
                        $spinner.prop("hidden", true)
                        console.log(succesData);
                        //window.location.replace("https://localhost:5001/Dashboard/Subject");
                    },
                    error: function (data) {
                        console.log('bad')
                    },
                    complete: function (jqxhr, txt_status) {
                        console.log(jqxhr);
                        if (jqxhr.status == 200) {
                            console.log('how')
                        }
                    }
                });

            };

            function deleteCourse(data) {
                $.ajax({
                    type: "DELETE",
                    url: "https://localhost:44380/api/v1/subjects/" + data,
                    headers: { 'Authorization': 'Bearer ' + localStorage.getItem('token') },
                    contentType: "application/json",
                    dataType: "json",
                    success: function (data) {
                        //window.location.replace("https://localhost:5001/Dashboard/Subject");
                    },
                    error: function (data) {
                        console.log(data)
                        alert("Server is off")
                        console.log('bad')
                    }
                });
            }


            $btnDelete.on('click', function (e) {
                e.preventDefault();
                var firstInputRelValue = $form.find('.disabledItem').first().val();
                console.log(firstInputRelValue);
                //ajax to delete
                deleteCourse(firstInputRelValue)

            })

            $btnEdit.on('click', function (e) {
                e.preventDefault();
                $form.find('.disabledItem').each(function () {
                    $(this).prop("disabled", false);
                })
                $btnUpdate.prop("disabled", false);
                $btnDelete.prop("disabled", false);
                $(this).prop("disabled", true)
            })

            var updateCourse = {};
            $btnUpdate.on('click', function (e) {
                e.preventDefault();
                //i will check if everything is not empty
                $form.find('.disabledItem').each(function () {
                    var key = $(this).attr("rel");
                    if (($(this).is('input')) && ($(this).val() != "")) {
                        var value = { "value": $(this).val(), "pass": true };
                        updateCourse[key] = value;
                    } else if (($(this).is('select')) && ($(this).children().filter(':selected').val() != "")) {
                        var value = { "value": $(this).children().filter(':selected').val(), "pass": true };
                        updateCourse[key] = value;
                    } else {
                        var value = { "value": "", "pass": false };
                        updateCourse[key] = value;
                    };
                })

                var error = false;
                $.each(updateCourse, function (key, value) {
                    if (value["pass"] == false) {
                        $form.find('.disabledItem[rel=' + key + ']').addClass("is-invalid");
                        error = true;
                    }
                    else {
                        $form.find('.disabledItem[rel=' + key + ']').removeClass("is-invalid");
                    }
                })
                console.log(updateCourse)

                if ((updateCourse.course.pass != false) && (updateCourse.name.pass != false)) {
                    $(this).prop("disabled", true);
                    $btnDelete.prop("disabled", true);
                    $btnEdit.prop("disabled", false);
                    $form.find('.disabledItem').each(function () {
                        $(this).prop("disabled", true);
                    })

                    Object.keys(updateCourse).map(function (key, index) { updateCourse[key] = updateCourse[key].value; })
                    console.log(updateCourse);

                    updateCurrentSubject(updateCourse)
                }
            })


            var newCourse = {};
            $btnCreate.on('click', function (e) {
                e.preventDefault();

                if ($(this).html() == "New") {
                    $(this).html("Create");
                    $form.find('.disabledItem').each(function () {
                        $form.find('.disabledItem[rel="course"]').parent().parent().hide();
                        $(this).val("");
                        $(this).prop("disabled", false);

                    })
                    $btnUpdate.prop("disabled", true);
                    $btnDelete.prop("disabled", true);
                    $btnEdit.prop("disabled", true);
                } else {
                    //i will check if everything is not empty
                    $form.find('.disabledItem').each(function () {
                        var key = $(this).attr("rel");
                        console.log(key)
                        if (($(this).is('input')) && ($(this).val() != "")) {
                            var value = { "value": $(this).val(), "pass": true };
                            newCourse[key] = value;
                        } else if (($(this).is('select')) && ($(this).children().filter(':selected').val() != "")) {
                            var value = { "value": $(this).children().filter(':selected').val(), "pass": true };
                            newCourse[key] = value;
                        } else {
                            var value = { "value": "", "pass": false };
                            newCourse[key] = value;
                        };
                    })

                    var error = false;
                    $.each(newCourse, function (key, value) {
                        if (value["pass"] == false) {
                            $form.find('.disabledItem[rel=' + key + ']').addClass("is-invalid");
                            error = true;
                        }
                        else {
                            $form.find('.disabledItem[rel=' + key + ']').removeClass("is-invalid");
                        }
                    })

                    console.log(newCourse);

                    if ((newCourse.subjectId.pass == false) && (newCourse.name.pass != false)) {
                        Object.keys(newCourse).map(function (key, index) { newCourse[key] = newCourse[key].value; })
                        console.log(newCourse);

                        createCurrentCourse(newCourse)
                    }
                }
            })

            $('#btnLogout').on('click', function () {
                localStorage.removeItem('token');
                window.location.replace("https://localhost:5001/Login");
            })


        })
    </script>
</body>
</html>
